name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.GTH_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

    - name: Build and Push Docker image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/flask-argocd:${{ github.sha }} .
        docker push ghcr.io/${{ github.repository_owner }}/flask-argocd:${{ github.sha }}
    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.GTH_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

