name: CI/CD Pipeline
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.GTH_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

    - name: Build and Push Docker image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/flask-argocd:v01 .
        docker push ghcr.io/${{ github.repository_owner }}/flask-argocd:v01

    - name: Set image to public (optional step)
      run: |
        curl -X PATCH \
        -H "Authorization: token ${{ secrets.GTH_TOKEN }}" \
        -H "Accept: application/vnd.github.v3+json" \
        https://api.github.com/orgs/emiakia/packages/container/flask-argocd/versions/v01 \
        -d '{"visibility":"public"}'

# https://api.github.com/repos/${{ github.repository_owner }}/packages/container/flask-argocd/versions/v01 \        
    - name: Verify Docker image
      run: docker pull ghcr.io/${{ github.repository_owner }}/flask-argocd:v01
 
